@model cakefactory.API.Data.Entities.Order

<div class="form-group">
    <label asp-for="Cost" class="control-label"></label>
    <input asp-for="Cost" class="form-control" />
    <span asp-validation-for="Cost" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Quantity" class="control-label"></label>
    <input asp-for="Quantity" class="form-control" />
    <span asp-validation-for="Quantity" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Price" class="control-label"></label>
    <input asp-for="Price" class="form-control" />
    <span asp-validation-for="Price" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="OrderDescription" class="control-label"></label>
    <input asp-for="OrderDescription" class="form-control" />
    <span asp-validation-for="OrderDescription" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="OrderDate" class="control-label"></label>
    <input asp-for="OrderDate" class="form-control" />
    <span asp-validation-for="OrderDate" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="DeliveryDate" class="control-label"></label>
    <input asp-for="DeliveryDate" class="form-control" />
    <span asp-validation-for="DeliveryDate" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Remarks" class="control-label"></label>
    <input asp-for="Remarks" class="form-control" />
    <span asp-validation-for="Remarks" class="text-danger"></span>
</div>