@model cakefactory.API.Data.Entities.Personalization

<div class="form-group">
    <label asp-for="PersoName" class="control-label"></label>
    <input asp-for="PersoName" class="form-control" />
    <span asp-validation-for="PersoName" class="text-danger"></span>
</div>